In [1]:
import pandas as pd

In [2]:
file = r'T:\MPO\TIP\TIP FY24-27\Maps\Data\24-27 MTIP list (draft) 20221121.xlsx'

In [11]:
data_cl = pd.read_excel(file, skiprows=3, nrows=28)

In [12]:
data_cl.head(3)

,Project Name,MTIP ID #,Project Description,Work Type,Perf. Meas.,RTP Project Number / Ref.,In AQ CATS?,In\nAQMA?,Air Quality Status,STIP Key,...,Unnamed: 14,Federal Req. Match,Unnamed: 16,Total Fed+ Req Match,Other Funding,Unnamed: 19,Total All Sources,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Source,$,Source,NaN,$,Source,NaN,NaN,NaN,NaN
1,Central Lane MPO planning SFY25,191003.0,Central Lane MPO planning funds for Federal fi...,PL,--,--,NaN,NaN,EXEMPT / Other-Planning and Technical Studies ...,21864.0,...,PL Y450,64725.13,ODOT,630235.00,NaN,NaN,630235.00,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21864.0,...,5303 21MP,19435.75,LTD,189247.75,NaN,NaN,189247.75,NaN,NaN,NaN